html,
body {
  padding: 0;
  margin: 0;
}

.tracts {
    fill: #444;
    stroke: #444;
    opacity: 1;

    /*pointer-events: all;*/
}

svg {
  background-color: #333;
}

/*** Buses ***/

.shooter-segment {
  stroke: #ccc;
  stroke-width: 1px;
}

.shooter-segment-0 {
  opacity: 0.5;
}

.shooter-segment-1 {
  opacity: 0.4;
}

.shooter-segment-2 {
  opacity: 0.3;
}

.shooter-segment-3 {
  opacity: 0.2;
}

.shooter-segment-4 {
  opacity: 0.1;
}


/*** Subways MFL, BSL, NHSL ***/

circle.route-mfl {
  fill: silver;
  opacity: 0.15;
}
circle.route-bsl {
  fill: silver;
  opacity: 0.15;
}
circle.route-nhsl {
  fill: silver;
  opacity: 0.1;
}
circle.route-10,
circle.route-11,
circle.route-13,
circle.route-34,
circle.route-36,
circle.route-15,
circle.route-101b,
circle.route-102b {
  fill: silver;
  opacity: 0.1;
}


/*** Regional Rail ***/

rect.route-air,
rect.route-che,
rect.route-chw,
rect.route-lan,
rect.route-med,
rect.route-fox,
rect.route-nor,
rect.route-pao,
rect.route-cyn,
rect.route-tre {
  fill: silver;
  opacity: 0.15;
}


/*** Bikeshare ***/

circle.bikeshare {
  fill: #000;
  opacity: 0.3;
}

.is-twinkling {
  -webkit-animation-delay: 0;
  -webkit-animation-duration: 2s;
  -webkit-animation-name: twinkle;
}

@-webkit-keyframes twinkle {
  0% {
    opacity: 0;
    fill: white;
    /*stroke: black;*/
  }

  5% {
    opacity: 1;
    fill: white;
  }

/*  15% {
    opacity: 0.5;
    fill: silver;
  }

  20% {
    opacity: 0.9;
    fill: white;
  }
*/
  100% {
    opacity: 0;
    fill: silver;
    /*stroke: white;*/
  }
}
